<!doctype html>
<html>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
	<style>
		{{{css}}}
	</style>


	<body>
		<div id="resume">
			{{#resume.basics}}
				<header id="header">
					{{#if picture}}
						<img src="{{picture}}" alt="{{name}}"/>
						<div class="middle">
							<h1 class="name">{{name}}</h1>
							<h2 class="label">{{label}}</h2>
						</div>
					{{else}}
						<div>
							<h1 class="name">{{name}}</h1>
							<h2 class="label">{{label}}</h2>
						</div>
					{{/if}}

				</header>

				<section id="basics">

					{{#location}}
						<div id="location">
							{{#if address}}
							<span class="fa fa-map-marker"></span>
							<span class="address">
								{{address}},
							</span>
							{{/if}}
							{{#if postalCode}}
							<span class="postalCode">
								{{postalCode}},
							</span>
							{{/if}}
							{{#if city}}
							<span class="city">
								{{city}}
							</span>
							{{/if}}
							{{#if countryCode}}
							<span class="countryCode">
								({{countryCode}}),
							</span>
							{{/if}}
							{{#if region}}
							<span class="region">
								{{region}}
							</span>
							{{/if}}
						</div>
					{{/location}}

					<div id="contact">
						{{#if website}}
						<div class="website">
							<a href="{{website}}">{{website}}</a>
						</div>
						{{/if}}
						{{#if email}}
						<div class="email">
							<span class="fa fa-envelope"></span>
							<a href="mailto:{{email}}">{{email}}</a>
						</div>
						{{/if}}
						{{#if phone}}
						<div class="phone">
							<span class="fa fa-phone-square"></span>
							{{phone}}
						</div>
						{{/if}}
					</div>


					{{#if profiles.length}}
					<div id="profiles">
						{{#each profiles}}
						<div class="item">
							{{#if network}}
							<span class="network fa fa-{{spaceToDash network}} {{spaceToDash network}}"></span>
							{{/if}}
							{{#if username}}
							<span class="username">
								{{#if url}}
								<span class="url">
									<a href="{{url}}">{{username}}</a>
								</span>
								{{else}}
									{{username}}
								{{/if}}
							</span>
							{{/if}}
						</div>
						{{/each}}
					</div>
					{{/if}}
				</section>

				{{#if summary}}
				<section class="section main-summary">
					<h2 class='section-title'>About</h2>
					<section>
						<p>{{summary}}</p>
					</section>
					{{/if}}
				</section>

				</section>
			{{/resume.basics}}

			{{#if resume.work.length}}
				<section class="section">
					<h2 class='section-title'>Experience</h2>
					<section id="work">
					{{#each resume.work}}
						{{#if company}}
						<header>
							<h3 class="name">
								{{company}}
							</h3>
							{{/if}}
							<div class="date">
								{{#if startDate}}
								<span class="startDate">
									{{MY startDate}}
								</span>
								{{/if}}
								{{#if endDate}}
								<span class="endDate">
									- {{MY endDate}}
								</span>
								{{else}}
								<span class="endDate">
									- Present
								</span>
								{{/if}}
							</div>
						</header>
						<div class="item">
						{{#if position}}
						<div class="position">
							{{position}}
						</div>
						{{/if}}
						{{#if website}}
						<div class="website">
							<a href="{{website}}">{{website}}</a>
						</div>
						{{/if}}
						{{#if summary}}
						<div class="summary">
							<p>{{summary}}</p>
						</div>
						{{/if}}
						{{#if highlights.length}}
						<ul class="highlights">
							{{#each highlights}}
							<li>{{.}}</li>
							{{/each}}
						</ul>
						{{/if}}
					</div>
					{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.projects.length}}
				<section class="section">
					<h2 class='section-title'>Projects</h2>
					<section id="projects">
					{{#each resume.projects}}
            {{#if name}}
              <span class="company">{{name}}</span>
            {{/if}}
            {{#if url}}
            <span class="url">
              <a href="{{url}}">{{url}}</a>
            </span>
            {{/if}}
						{{#if summary}}
						<div class="summary">
							<p>{{summary}}</p>
						</div>
						{{/if}}
					</div>
					{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.education.length}}
				<section class="section">
					<h2 class='section-title'>Education</h2>
					<section id="education">
						{{#each resume.education}}
							<header>
								{{#if institution}}
									<h3 class="institution">
										{{institution}}
									</h3>
								{{/if}}
								<div class="date">
									{{#if startDate}}
									<span class="startDate">
										{{Y startDate}}
									</span>
									{{/if}}
									{{#if endDate}}
									<span class="endDate">
										- {{Y endDate}}
									</span>
									{{else}}
									<span class="endDate">
										- Present
									</span>
									{{/if}}
								</div>
							</header>
							<div class="item">
								{{#if studyType}}
									<div class="studyType">
										{{studyType}}
									</div>
								{{/if}}
								{{#if area}}
									<div class="area">
										{{area}}
									</div>
								{{/if}}
								{{#if gpa}}
									<div>
										<span class="fa fa-graduation-cap"></span>
										<span class='gpa'> GPA: {{gpa}}</span>
									</div>
								{{/if}}
								{{#if courses.length}}
									<ul class="courses">
										{{#each courses}}
										<li>{{.}}</li>
										{{/each}}
									</ul>
								{{/if}}
							</div>
						{{/each}}
					</section>
				</section>
			{{/if}}


			{{#if resume.volunteer.length}}
				<section class="section">
					<h2 class='section-title'>Volunteer</h2>
					<section id="volunteer">
						{{#each resume.volunteer}}
							{{#if organization}}
								<header>
									<h3 class="company">
										{{organization}}
									</h3>
									<div class="date">
										{{#if startDate}}
										<span class="startDate">
											{{MY startDate}}
										</span>
										{{/if}}
										{{#if endDate}}
										<span class="endDate">
											- {{MY endDate}}
										</span>
										{{else}}
										<span class="endDate">
											- Present
										</span>
										{{/if}}
								</header>
							{{/if}}
							<div class="item">
							{{#if position}}
							<div class="position">
								{{position}}
							</div>
							{{/if}}
							{{#if website}}
							<div class="website">
								<a href="{{website}}">{{website}}</a>
							</div>
							{{/if}}
							{{#if summary}}
							<div class="summary">
								<p>{{summary}}</p>
							</div>
							{{/if}}
							{{#if highlights.length}}
							<ul class="highlights">
								{{#each highlights}}
								<li>{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.awards.length}}
				<section class="section">
					<h2 class='section-title'>Awards</h2>
					<section id="awards">
					{{#each resume.awards}}
						{{#if date}}
						<div class="date">
							{{DMY date}}
						</div>
						{{/if}}
						<div class="item">
							{{#if title}}
							<div class="title">
								{{title}}
							</div>
							{{/if}}
							{{#if awarder}}
							<div class="awarder">
								{{awarder}}
							</div>
							{{/if}}
							{{#if summary}}
							<div class="summary">
								<p>{{summary}}</p>
							</div>
							{{/if}}
						</div>
					{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.publications.length}}
				<section class="section">
					<h2 class='section-title'>Publications</h2>
					<section id="publications">
						{{#each resume.publications}}
							<div class="item">
								{{#if name}}
								<span class="name">
									{{#if website}}
									<span class="website">
										<a href="{{website}}">{{name}}</a>
									</span>
									{{else}}
										{{name}}
									{{/if}}
								</span>
								{{/if}}
								{{#if publisher}}
									<span class="publisher">
										in {{publisher}},
									</span>
								{{/if}}
								{{#if releaseDate}}
									<span class="date">
										{{DMY releaseDate}}
									</span>
								{{/if}}
								{{#if summary}}
								<div class="summary">
									<p>{{summary}}</p>
								</div>
								{{/if}}
							</div>
						{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.skills.length}}
				<section class="section">
					<h2 class='section-title'>Skills</h2>
					<section id="skills">
						{{#each resume.skills}}
						<div class="item">
							{{#if name}}
							<div class="name">
								{{name}}
							</div>
							{{/if}}
							{{#if level}}
							<div class="level {{toLowerCase level}}">
								<em>{{level}}</em>
								<div class="bar"></div>
							</div>
							{{/if}}
							{{#if keywords.length}}
							<ul class="keywords">
								{{#each keywords}}
								<li>{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.languages.length}}
				<section class="section">
					<h2 class='section-title'>Languages</h2>
					<section id="languages">
						{{#each resume.languages}}
						<div class="item">
							{{#if language}}
							<div class="language">
								{{language}}
							</div>
							{{/if}}
							{{#if fluency}}
							<div class="fluency">
								<em>{{fluency}}</em>
							</div>
							{{/if}}
						</div>
						{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.interests.length}}
				<section class="section">
					<h2 class='section-title' class='section-title'>Interests</h2>
					<section id="interests">
						{{#each resume.interests}}
						<div class="item">
							{{#if name}}
							<div class="name">
								{{name}}
							</div>
							{{/if}}
							{{#if keywords.length}}
							<ul class="keywords">
								{{#each keywords}}
								<li>{{.}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
						{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.references.length}}
				<section class="section">
					<h2 class='section-title'>References</h2>
					<section id="references">
						{{#each resume.references}}
						<div class="item">
							{{#if reference}}
							<blockquote class="reference">
								&#8220;&#32;{{reference}}&#32;&#8221;
							</blockquote>
							{{/if}}
							{{#if name}}
							<div class="name">
								{{name}}
							</div>
							{{/if}}
						</div>
						{{/each}}
					</section>
				</section>
			{{/if}}
		</div>
	</body>

</html>
